body {
    background-color: lightslategrey;
}

.button {
    background-color: lightblue;
    display: inline-flex;
    width: 50px;
    height: 50px;
    text-align: center;
    border-radius: 6px;
    margin: 2px;

}

.button:hover {
    background-color: red;
}

.main-form {
    height: 500px;
    width: 500px;
    background-color: azure;
    margin-left: 380px;
    margin-top: 80px;
    border-radius: 8px;

}

.buttons {
    margin-left: 25%;
}

.user-input {
    margin-left: 90px;
    font-size: 23px;
    margin-bottom: 2px;
    margin-top: 2px;
    border-radius: 4px;
}

.user-input:active {
    background-color: lightgray;
}

.user-input:hover {
    background-color: lightgray;
}

.resultText {
    font-size: 30px;

}

.result {
    margin: 5px;
    text-align: center;
    font-size: 40px;

}

.h2-top {
    text-align: center;
    color: red;
    margin-top: 10px;
}
