body {
    background-color: lightslategrey;
}
.h2-top {
    text-align: center;
    color: red;
    margin-top: 15px;
}

.user-input {
    margin-left: 90px;
    font-size: 23px;
    margin-bottom: 2px;
    margin-top: 2px;
    border-radius: 4px;
    text-align: center;
}

.user-input:active {
    background-color: lightgray;
}

.user-input:hover {
    background-color: lightgray;
}
.button {
    width: 50px;
    height: 50px;
    margin: 2px;
    background-image: linear-gradient(135deg, #008aff, #86d472);
    border-radius: 6px;
    box-sizing: border-box;
    color: #ffffff;
    font-size: 0.75em;
    font-weight: 600;
    padding: 4px;
    text-decoration: none;
    z-index: 2;



}

.button:hover {
    color: #fff;
}

.button .buttonspan {
    align-items: center;
    background: #0e0e10;
    border-radius: 6px;
    display: flex;
    justify-content: center;
    height: 100%;
    transition: background 0.5s ease;
    width: 100%;
}

.button:hover .buttonspan {
    background: transparent;
}

.additional-button {
    background-color: lightcoral;
    display: inline-flex;
    width: 130px;
    height: 50px;
    text-align: center;
    border-radius: 6px;
    margin: 2px 2px 2px 21%;
    border: 2px solid purple;
}

.button:hover {
    background-color: red;
}

.main-form {
    height: 500px;
    width: 500px;
    background-color: azure;
    margin-left: 380px;
    margin-top: 80px;
    border-radius: 8px;

}

.main-buttons {
    margin-left: 19%;
}


.resultText {
    font-size: 30px;

}

.result {
    margin: 5px;
    text-align: center;
    font-size: 40px;

}



ul {
    display: none;
    margin-left: -20%;
}

#checkbox {
    opacity: 0;
}

#checkbox:checked + ul {

    display: block;
}

.container {
    margin-left: 19%;
}
