body {
    background-color: darkkhaki;
}

.button {
    background-color: lightblue;
    display: inline-flex;
    width: 50px;
    height: 50px;
    text-align-all: center;


}

.main-form {
    height: 300px;
    width: 500px;
    background-color: azure;
    margin-left: 380px;
    margin-top: 50px;

}

.buttons {
    margin-left: 120px;
}
.user-input {
    display: inline-flex;
    margin-left: 30px;
    font-size: 15px;
}

.result {
    margin: 5px;
    text-align: center;
    font-size: 40px;

}
.resultText {

    font-size: 30px;

}
