<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Calculator</title>
    <link rel="stylesheet" type="text/css" href="css/main.css">
</head>
<body>


<div class="main-form">
<form  action="#" th:action="@{/}" th:object="${operation}" method="POST">
    <h2 class="h2-top">Please enter your numbers here:</h2>
    <input class="user-input" type="text" th:field="*{first}"/>
    <input class="user-input" type="text" th:field="*{second}"/>
    <p class="buttons">
        <input type="submit" class="button" name="add" value="+"/>
        <input type="submit" class="button" name="subtract" value="-"/>
        <input type="submit" class="button" name="multiply" value="*"/>
        <input type="submit" class="button" name="divide" value="/"/>
        <input type="submit" class="button" name="sqrt" value="sqrt" />
        <input type="submit" class="button" name="clear" value="Clear"/>

    </p>

      <p class="result resultText" th:text="'Result: '"></p>
    <p  class="result" th:text=" ${result}"></p>


</form>
</div>

</body>
</html>